In [5]:
import pandas as pd

In [6]:
df_game_lineups = pd.read_json('./Data/liga brasil/game_lineups.json')
df_game_lineups.head()

,type,parent,href,game_id,home_club,away_club
0,game_lineups,{'href': '/club-athletico-paranaense_clube-de-...,/club-athletico-paranaense_clube-de-regatas-va...,4316294,{'href': '/club-athletico-paranaense/startseit...,{'href': '/vasco-da-gama-rio-de-janeiro/starts...
1,game_lineups,{'href': '/sport-club-internacional_esporte-cl...,/sport-club-internacional_esporte-clube-bahia/...,4316187,{'href': '/sc-internacional-porto-alegre/start...,{'href': '/esporte-clube-bahia/startseite/vere...
2,game_lineups,{'href': '/sport-club-corinthians-paulista_for...,/sport-club-corinthians-paulista_fortaleza-esp...,4316292,{'href': '/corinthians-sao-paulo/startseite/ve...,{'href': '/fortaleza-esporte-clube/startseite/...
3,game_lineups,{'href': '/fortaleza-esporte-clube_red-bull-br...,/fortaleza-esporte-clube_red-bull-bragantino/a...,4316274,{'href': '/fortaleza-esporte-clube/startseite/...,{'href': '/red-bull-bragantino/startseite/vere...
4,game_lineups,{'href': '/cr-flamengo_sport-club-corinthians-...,/cr-flamengo_sport-club-corinthians-paulista/a...,4316310,{'href': '/flamengo-rio-de-janeiro/startseite/...,{'href': '/corinthians-sao-paulo/startseite/ve...

In [7]:
df_game_lineups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   type       52 non-null     object
 1   parent     52 non-null     object
 2   href       52 non-null     object
 3   game_id    52 non-null     int64
 4   home_club  52 non-null     object
 5   away_club  52 non-null     object
dtypes: int64(1), object(5)
memory usage: 2.6+ KB

In [8]:
df_game_lineups['type'].unique()

array(['game_lineups'], dtype=object)

In [5]:
df_game_lineups.drop('type',axis=1,inplace=True)

In [9]:
print(df_game_lineups['href'][0])
print(df_game_lineups['parent'][0]['href'])
print(df_game_lineups['game_id'][0])

/club-athletico-paranaense_clube-de-regatas-vasco-da-gama/aufstellung/spielbericht/4316294
/club-athletico-paranaense_clube-de-regatas-vasco-da-gama/index/spielbericht/4316294
4316294

In [7]:
df_game_lineups.drop('parent',axis=1,inplace=True)
df_game_lineups.drop('href',axis=1,inplace=True)
df_game_lineups.head()

,game_id,home_club,away_club
0,4316294,{'href': '/club-athletico-paranaense/startseit...,{'href': '/vasco-da-gama-rio-de-janeiro/starts...
1,4316187,{'href': '/sc-internacional-porto-alegre/start...,{'href': '/esporte-clube-bahia/startseite/vere...
2,4316292,{'href': '/corinthians-sao-paulo/startseite/ve...,{'href': '/fortaleza-esporte-clube/startseite/...
3,4316274,{'href': '/fortaleza-esporte-clube/startseite/...,{'href': '/red-bull-bragantino/startseite/vere...
4,4316310,{'href': '/flamengo-rio-de-janeiro/startseite/...,{'href': '/corinthians-sao-paulo/startseite/ve...

In [8]:
df_game_lineups['home_club'][0].keys()

dict_keys(['href', 'formation', 'starting_lineup', 'substitutes'])

In [9]:
df_game_lineups['home_club'][0]['href']

'/club-athletico-paranaense/startseite/verein/679/saison_id/2023'

In [ ]:
# Crear un DataFrame vacío para almacenar todos los eventos
df_home_lineups = pd.DataFrame()

# Iterar sobre las listas de eventos y otra columna en df_games
for index, row in df_game_lineups.iterrows():
    list_events = row['events']
    game_id = row['game_id']
    
    # Convertir la lista de eventos en un DataFrame
    df = pd.DataFrame(list_events)
    
    # Agregar la otra columna a df
    df['game_id'] = game_id
    
    # Concatenar el DataFrame de eventos actual con el DataFrame general de eventos
    df_home_lineups = pd.concat([df_home_lineups, df], ignore_index=True)

df_home_lineups.head()

In [103]:
pd.DataFrame(df_game_lineups['home_club'][0]['starting_lineup'])

,number,href,name,team_captain,position
0,\n 1\n,/bento/profil/spieler/691906,Bento,0,Goalkeeper
1,\n 15\n,/mateo-gamarra/profil/spieler/661245,Mateo Gamarra,0,Centre-Back
2,\n 4\n,/kaique-rocha/profil/spieler/633377,Kaique Rocha,0,Centre-Back
3,\n 37\n,/lucas-esquivel/profil/spieler/829969,Lucas Esquivel,0,Left-Back
4,\n 29\n,/leonardo-godoy/profil/spieler/369556,Leonardo Godoy,0,Right-Back
5,\n 5\n,/fernandinho/profil/spieler/26267,Fernandinho,1,Defensive Midfield
6,\n 26\n,/erick/profil/spieler/633212,Erick,0,Defensive Midfield
7,\n 10\n,/bruno-zapelli/profil/spieler/711600,Bruno Zapelli,0,Attacking Midfield
8,\n 28\n,/tomas-cuello/profil/spieler/503052,Tomás Cuello,0,Left Winger
9,\n 14\n,/agustin-canobbio/profil/spieler/457533,Agustín Canobbio,0,Right Winger
10,\n 92\n,/pablo/profil/spieler/148765,Pablo,0,Centre-Forward

In [63]:
# Usar pd.json_normalize() para transformar los diccionarios en columnas
df_info = pd.json_normalize(df_game_lineups.drop('parent',axis=1,inplace=True)['home_club'])

df_info.head()

,href,formation,starting_lineup,substitutes
0,/club-athletico-paranaense/startseite/verein/6...,4-2-3-1,[{'number': ' 1 ...,[{'number': ' 24 ...
1,/sc-internacional-porto-alegre/startseite/vere...,4-4-2,[{'number': ' 1 ...,[{'number': ' 24 ...
2,/corinthians-sao-paulo/startseite/verein/199/s...,4-2-3-1,[{'number': ' 22 ...,[{'number': ' 12 ...
3,/fortaleza-esporte-clube/startseite/verein/108...,4-2-3-1,[{'number': ' 1 ...,[{'number': ' 23 ...
4,/flamengo-rio-de-janeiro/startseite/verein/614...,4-2-3-1,[{'number': ' 1 ...,[{'number': ' 25 ...

Eliminando columna con valores redundantes y con direcciones web

In [65]:
df_game_lineups.drop('type',axis=1,inplace=True)
df_game_lineups.drop('parent',axis=1,inplace=True)
df_game_lineups.drop('href',axis=1,inplace=True)
df_game_lineups.drop('home_club',axis=1,inplace=True)
df_game_lineups.drop('away_club',axis=1,inplace=True)
df_game_lineups.head()

   game_id
0  4316294
1  4316187
2  4316292
3  4316274
4  4316310